@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 overflow-x-hidden;
  }
}

@layer utilities {
  .glass-panel {
    @apply border border-gray-100 shadow-xl;
  }
  .neo-btn {
    @apply px-6 py-3 bg-blue-600 hover:bg-blue-500 transition-all duration-300 font-bold rounded-lg shadow-[0_0_15px_rgba(37,99,235,0.5)] hover:shadow-[0_0_25px_rgba(37,99,235,0.7)];
  }
}
